@charset "UTF-8";
header {
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 10;
}
.content {
    width: 100%;
    min-width: 1180px;
    height: 100%;
    position: relative;
    overflow: hidden;
}
/* 设置图片 */
.img-box {
    width: calc(6 * 100%);
    position: absolute;
    left: -100%;
    top: 0;
    pointer-events: none;
}
.img-box img {
    width: calc(100% / 6);
    height: 100%;
    min-width: 800px;
    float: left;
}
/* 设置按钮 */
.btn-box .btn {
    position: fixed;
    top: 50%;
    left:0;
    right: 0;
    transition: all .1s linear;
    opacity: .5;
}
.btn-box .prev {
    background: url("../images/charachers/btn_left.png") no-repeat;
    width: 129px;
    height: 129px;
    left: 10px;
}
.btn-box .next {
    background: url("../images/charachers/btn_right.png") no-repeat;
    width: 129px;
    height: 129px;
    left: 92%;
}
.content .btn:hover  {
    opacity: 1;
}
